/* X-ray wirefram css */
* {
  /* Faint red borders on everything */
  max-width: 1700px;
  max-height: 900px;
  height: 90%;
}

body {
  background-image: linear-gradient(
    to right,
    rgba(240, 127, 52, 0.305),
    rgba(100, 87, 11, 0.4),
    rgb(33, 49, 17)
  );

  border-radius: 15px;
}
.card {
  display: grid;
  align-items: center;
height: 95%;
  justify-content: center;
border: 1px solid black;
  border-radius: 15px;
  place-items: center;
}
#trigger {
background-color: transparent;
  display: grid;
  align-items: center;
  width: 45%;
  height: 15%;
  border-radius: 15px;
}
#display {
  text-align: center;
  align-items: center;
}
